* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html, body {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}
